{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="py-3 text-center">{{ book_name }}</h1>
    <div class="mx-auto" style="width: 80%">
        <p class="text-justify">
            В ту пору я оказался далеко от дома. Меня не покидало очарование моря. В сумерках я слышал, как оно бьется о
            скалы, и знал наверняка, что море вон за тем холмом, на котором чернели в свете первых звезд причудливые
            силуэты ив. Я прибыл в древний город по зову предков и потому упрямо месил снежное крошево на дороге, что
            тянулась туда, где одиноко мерцал над деревьями Альдебаран, - в направлении старинного города, который я
            никогда не видел, но о котором так часто грезил.
            Дело происходило в канун праздника, который люди именуют Рождеством, хотя в глубине души сознают, что он
            неизмеримо старше Вифлеема, Вавилона, Мемфиса и самого человечества. Да, в его канун добрался я наконец до
            старинного города у моря, где когда-то жили и справляли этот праздник мои предки ... Они наказали нам блюсти
            родовой обычай: раз в сто лет мы должны были собираться на празднество и повторять друг другу слова древней
            мудрости. Мои предки прибыли сюда из южных краев, где цветут орхидеи; они говорили на чужом языке и лишь
            какое-то время спустя научились наречию голубоглазых рыбаков. С годами моя родня рассеялась по свету,
            объединяли нас теперь лишь семейные обряды и ритуалы, смысл которых был для постороннего непостижим.
            С гребня холма я увидел Кингспорт, заиндевевший, заснеженный Кингспорт с его старинными флюгерами и
            шпилями, дымовыми трубами, пристанями и маленькими, будто игрушечными, мостиками; я различил
            кладбищенские ивы и величественную церковь, которой не посмело коснуться время. Мой взгляд заплутал в
            лабиринте узеньких улочек. Над выбеленными зимней стужей фронтонами и двускатными крышами парила на
            пыльных крыльях древность. В вечернем сумраке призывно светились фонари и окна, а в небе, окруженный
            вековечными звездами, сверкал Орион. В прогнившие доски причалов било море ...
            Поблизости от дороги возвышался еще один довольно-таки крутой холм. Приглядевшись, я понял, что на его
            вершине расположилось кладбище: черные надгробия выступали из-под снега призрачными когтями гигантского
            трупа. Дорога была пустынной, но иногда мне чудилось, будто я слышу негромкое поскрипывание - такое обычно
            издает виселица. К слову сказать, одного моего родича повесили где-то в окрестностях города за колдовство.
            Дорога пошла под уклон. Я напряг слух, стараясь услышать отзвуки царящего в городе веселья, но все было тихо.
            Тут я вспомнил, какое на дворе время года, и решил, что местные жители могут праздновать Рождество по-своему
            - вдруг у них принято проводить праздничные вечера в молитвах у семейных очагов? Так что я бросил
            прислушиваться и поспешил вниз, мимо домиков, в окнах которых горел свет, мимо засыпанных снегом каменных
            стен, туда, где раскачивались на ветру вывески лавок и таверн, где мерцали в тусклом свечении, сочившемся в
            щели между оконными занавесками, диковинные молоточки на дверях.
            Поскольку я предварительно изучил карту города, мне было известно наверняка, где стоит дом моих
            родственников. Я рассчитывал, что меня узнают и примут достаточно радушно - ведь в маленьких городках
            легенды живут долго. А потому я пересек единственную в Кингспорте мощеную улицу, прошел с тыльной стороны
            рынка и вышел в нужный мне переулок. Старые карты не подвели ...
            Из окон нужного мне дома, седьмого по счету на левой стороне улицы, пробивался свет. Верхний этаж нависал
            над узкой улочкой, едва ли не упираясь во фронтон дома напротив. Подойдя поближе, я словно очутился в
            пещере. На низком крылечке не было ни снежинки, к нему вела череда ступеней, дополненная железными
            поручнями. Общее впечатление было несколько странным; вдобавок я впервые попал в Новую Англию, а прежде
            ничего подобного мне видеть не доводилось. Сказать по правде, я бы чувствовал себя уверенней, если бы заметил
            хоть одного человека на городских улицах. Да и занавески на окнах, будем откровенны, не мешало бы раздернуть.
            Притронувшись к архаичному дверному молотку, я испытал страх, которым был обязан отчасти собственным
            воспоминаниям, а отчасти - зимнему вечеру и неприветливой тишине, окутывавшей старый Кингспорт. Когда же
            на мой стук отозвались, я, признаться струсил окончательно, ибо не слышал никаких шагов - дверь распахнулась
            словно сама собой. Но страх мой тотчас улегся, ибо в дверном проеме появился добродушного вида старик в
            халате и домашних шлепанцах. Пояснив жестом, что он - немой, старик начертал стилом на восковой дощечке,
            которую держал в руке, слова древнего приветствия.
        </p>
    </div>
</div>

{% endblock%}